/* doctor profile */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.filter {
}
.div-img {
  width: 35%;
}
.doctor-bio {
  margin-left: 25px;
}
.doctor-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}
.doctors-education {
  font-size: 14px;
  color: #757575;
}
.fa-bangladeshi-taka-sign {
  font-size: 14px;
}
/* doctor profile */
/* media */
@media screen and (max-width: 767px) {
  .profile {
    padding: 0px 15px !important;
    margin-top: 20px !important;
  }
  .doctor-bio {
    margin: 20px 0px 0px 0px;
  }
  .profile-part-1 {
    flex-direction: column;
  }
  .profile-part-2 {
    margin-top: 20px;
    align-items: flex-start !important;
  }
}

@media screen and(min-width:768px) and (max-width: 1023px) {
  .filter {
    margin: 0px 0px !important;
    padding: 0px 0px !important;
  }
  .profile {
    margin: 0px 0px !important;
    padding: 0px 0px !important;
  }
}
